<table>
    <tr>
        <td>Current Risk Score:</td>
        <td>{{ data.current_risk_score }}</td>
    </tr>
     <tr>
        <td>Candidate Risk Score:</td>
        <td>{{ data.candidate_risk_score }}</td>
    </tr>
</table>

<div id="analysis_table">
    <script type="application/javascript">
        var pie_chart_data = JSON.parse('{{ data.pie_chart_data|tojson|safe }}');
        var bar_chart_data = JSON.parse('{{ data.bar_chart_data|tojson|safe }}');
    </script>
    <div class="barchart"></div>
    <div class="piechart"></div>
    <div id="risk_meter"  class="columns" rel="{{  '%.1f' % (risk_meter) }}" style="position: absolute; right: 0; top: -220px; min-width: 100px; max-width: 200px; height: 200px; margin: 0 auto"></div>

</div>

