<table id="candidate_hcc_table" class="display  dt-foundation" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Code</th>
                <th>Name</th>
                <th>Risk Score</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% if data.hccs %}
            {% for entry in data.hccs %}
                <tr>
                    <td>
                        <a data-id="{{ entry.code }}" rel="add" href="#">Add</a>&nbsp;|
                        <a data-id="{{ entry.code }}" rel="reject" href="#">Reject</a>&nbsp;
                    </td>
                    <td>{{ entry.code }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.risk_score }}</td>
                    <td>{{ entry.date }}</td>
                </tr>
            {% endfor %}
        {% else %}
             <tr>
                 <td>N/A</td>
                 <td>N/A</td>
                 <td></td>
                <td>N/A</td>
             </tr>
        {% endif %}
        </tbody>
    </table>