{% if data.hccs %}
    {% for entry in data.hccs %}
        {% set hcc = entry.get_hcc() %}
        <div class="round borders">
            <ul>
                <li><a data-id="{{ hcc.code }}" rel="view" href="#">View</a></li>
                <li>Code: {{ hcc.code }}</li>
                <li>Name: {{ hcc.name }}</li>
                <li>Date: {{ hcc.date }}</li>
            </ul>
        </div>
    {% endfor %}
{% else %}
    <div class="round borders">
        <ul>
            <li>Code: N/A </li>
            <li>Name: N/A</li>
            <li>Date: N/A</li>
            <li>Notes: N/A</li>
        </ul>
    </div>
{% endif %}