{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <div id="dashboard" class="row">
        <br/>
          <br/>
          <div class="large-4 columns">
             <div class="callout large">
                 <h4>Patient Missing History:</h4>
                 <label>Patient ID</label>
                 <input id="pt_id" type="text" placeholder="Patient Id" />
             </div>
             <p><a id="lookUp" type="submit" class="button expanded">Look Up</a></p>
          </div>

          <div class="large-8 columns">
              <div class="callout large">
               <label>Patient History:
                    <div id="loading" style="display:none;" class="medium-6 medium-centered large-4 large-centered columns">
                        <h1 style="color:red;">LOADING...</h1>
                        <img src='/static/img/heart.gif'/>
                    </div>
                    <div id="patient_history_out" ></div>
                </label>
              </div>
          </div>
    </div>
{% endblock %}