{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>

    {% endblock %}
    {% block content %}
<script type="text/javascript">

    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            $("#lookUp").click();
        }
    });

    $(document).ready(function () {
        $("#pt_id").focus();
    });
</script>
    <div id="dashboard" class="row">
        <div class="separator"></div>
        <h4 class="text-center">Patient Lookup</h4>
          <div class="large-12 columns">
            <div class="callout large">
                <h4>RADV - Risk Adjustment Data Validation Tool</h4>
                <hr/>
                <h5>Home</h5>
                <br/>
                <div class="large-2 columns">
                    <h5>Find Patient</h5>
                </div>
                <div class="large-4 columns">
                    <input id="pt_id" type="text" placeholder="Enter Patient Name or ID" />

                    <input type="submit" style="display:none; visibility:hidden;" />
                    <input type="radio" name="pt_lookupType" id="pt_lookupTypeName" value="name" checked="checked" title="Search by Patient Name" /><label for="pt_lookupTypeName" title="Search by Patient Name">Patient Name</label>
                    <input type="radio" name="pt_lookupType" id="pt_lookupTypeId" value="id" title="Search by Patient ID" /><label for="pt_lookupTypeId" title="Search by Patient ID">Patient ID</label>
                </div>
                <div class="large-2 columns">
                    <a id="lookUp" type="submit" class="button expanded">Look Up</a>
                </div>
                
                <br/>
                <br/>
                <br/>
                 <div id="loading" style="display:none;" class="medium-6 medium-centered large-4 large-centered columns">
                    <h1 style="color:red;">LOADING...</h1>
                    <img src='/static/img/heart.gif'/>
                </div>
                <div id="patient_list_container" ></div>
            </div>
          </div>
    </div>
{% endblock %}