<!doctype html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    <script type="application/javascript" src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/vendor/jquery-ui.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/vendor/jquery.dataTables.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/vendor/dataTables.foundation.min.js') }}"></script>
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

  </head>
  <body>
    <div id="nav" class="nav-collapse collapse">
        <ul class="sub-nav menu" role="navigation" title="Filter Menu List">
        {% if g.user.is_authenticated%}
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
        {% if not g.user.is_authenticated%}
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
        </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer">
      {% block footer %}
      &copy; Copyright 2016 by FHIRed Up.
      {% endblock %}
    </div>
    
  </body>
</html>