<table id="patient_list" class="display  dt-foundation" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Patient ID</th>
                <th>Patient Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Address</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Actions</th>
                <th>Patient ID</th>
                <th>Patient Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Address</th>
            </tr>
        </tfoot>
        <tbody>
            {% for entry in data %}
                <tr>
                    <td><a href="/candidate_hcc?pt_id={{ entry.pt_id }}">View</td>
                    <td>{{ entry.pt_id }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.dob }}</td>
                    <td>{{ entry.gender }}</td>
                    <td>{{ entry.address }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>