<div id="reject_dialog" class="hcc_dialog" title="Reject Hcc">
    <div class="row">
         <div class="large-6 columns">
             <div class="row">
                 <label for="verification_status">Verification Status</label>
                 <select name="verification_status" id="verification_status">
                  <option value="provisional">Provisional</option>
                  <option value="differential">Differential</option>
                  <option value="refuted" selected="selected">Refuted</option>
                  <option value="entered_error">Entered-in-error</option>
                  <option value="unknown">Unknown</option>
                </select>
             </div>
             <div class="separator"></div>
            <div class="row">
                <div class="large-7 columns">
                    <h5>SnowMed Codes:</h5>
                </div>
                <div class="large-5 columns">
                    <h6>(Select All that Apply)</h6>
                </div>
            </div>
             <div class="row callout small round">
                 <div class="row">
                     <div class="large-1 columns">
                        <input type="checkbox" id="all"/>
                     </div>
                     <div class="large-6 columns">
                        <span>Code</span>
                     </div>
                     <div class="large-5 columns">
                        <span>Name</span>
                     </div>
                 </div>
                 <div class="row">
                    <div class="large-1 columns">
                       <input type="checkbox" id="all"/>
                    </div>
                    <div class="large-6 columns">
                        <input type="text" value="Code"/>
                    </div>
                    <div class="large-5 columns">
                        <input type="text" value="Name"/>
                    </div>
                 </div>
             </div>
        </div>
        <div class="large-6 columns">
            <label>
                Notes:
                <textarea rows="15"></textarea>
            </label>
        </div>
    </div>
</div>
