<div id="view_dialog" class="hcc_dialog" title="View Hcc">
    <div class="row">
         <div class="large-6 columns">
            <div class="row">
                <div class="large-7 columns">
                    <h5>SnowMed Codes:</h5>
                </div>
            </div>
             <div class="row callout small round">
                 <div class="row">
                     <div class="large-1 columns">
                        <input type="checkbox" id="all"/>
                     </div>
                     <div class="large-6 columns">
                        <span>Code</span>
                     </div>
                     <div class="large-5 columns">
                        <span>Name</span>
                     </div>
                 </div>
                 <div class="row">
                    <div class="large-1 columns">
                       <input type="checkbox" id="all"/>
                    </div>
                    <div class="large-6 columns">
                        <input type="text" value="Code"/>
                    </div>
                    <div class="large-5 columns">
                        <input type="text" value="Name"/>
                    </div>
                 </div>
             </div>
        </div>
        <div class="large-6 columns">
            <label>
                Notes:
                <textarea rows="15"></textarea>
            </label>
        </div>
    </div>
</div>
