

.sub-nav {
  background-color: #f2f2f2;
  padding: 0.5rem 0.5rem 0.5rem 0; }
  .sub-nav li {
    color: #999999;
    font-size: 0.77778rem;
    padding-left: 0.88889rem; }
    .sub-nav li.active a {
      border-radius: 3px;
      background: #008CBA;
      color: #fff;
      cursor: default;
      font-weight: normal;
      padding: 0.16667rem 0.88889rem; }

#login .log-in-form {
  border: 1px solid #cacaca;
  padding: 16px;
  border-radius: 3px;
}

.separator{
    height: 25px;
}

.small.separator{
    height: 10px;
}

#patient_list_container, #loading{
    min-height: 600px;
}

.borders{
    border: 1px solid hsla(0,0%,4%,.25);
}

.round{
    border-radius: 10px;
}

#current_year_hcc .round{
    margin-bottom: 10px;
}

#candidate_hcc_dashboard hr{
    max-width: 100%;
}

#candidate_hcc_dashboard ul {
    list-style-type: none;
}

#candidate_hcc_dashboard.row, #candidate_hcc_dashboard .row{
    max-width: 90rem
}

#analysis, #candidate_hcc, #current_year_hcc{
    margin: .5rem;
    padding-top: 10px;
    min-height: 600px;
}

#yearSlider{
    margin-top: 5px;
    width: 200px;
    float: right;
}

#analysis{
    float:right;
}

#candidate_hcc{
    width: 54%;
}

#footer{
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
}


